<%= render 'admin/sessions/header' %>
<h2>問題一覧</h2>
<% @questions.each do |question| %>

<%= link_to question.title,admin_question_path(question.id) %>

<% end %>

<%= link_to"問題を作る",new_admin_question_path %>

<%= paginate @questions %>