<%= render 'admin/sessions/header' %>

<div class="card w-50 mx-auto mt-4 shadow-lg">
  <div class="card-header">
    <h2>問題一覧</h2>
  </div>
    <% @questions.each do |question| %>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= link_to question.title,admin_question_path(question.id) %></li>
      </ul><br>
    <% end %>
    <%= link_to"問題を作る",new_admin_question_path ,class:"btn btn-outline-info"%>

    <%= paginate @questions %>
</div>


