<%= render 'admin/sessions/header' %>

<div class="card w-50 mx-auto mt-4 shadow-lg">
  <div class="card-header">
    <h2>会員一覧</h2>
  </div>
    <% @users.each do |user| %>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= user.updated_at.strftime('%Y/%m/%d %H:%M:%S') %>
        <%= link_to user.name,admin_pet_path(user.pet.id) %></li>
      </ul>
    <% end %>
</div>



