<%= render 'user/sessions/header' %>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
        <p class="text-start"><h1>Welcome to </h1></p>
        <p class="text-center"><h1>ONEDOG</h1></p>

        <form class="form">
    			<%= link_to "新規登録", new_user_registration_path,class:"btn btn-outline-light btn-sm btn-block mb-3" %>
          <%= link_to "ログイン", new_user_session_path,class:"btn btn-outline-light btn-sm btn-block mb-3" %>
        </form>
      </div>
    </div>
  </div>

  <ul class="bg-bubbles">
  	<li></li>
  	<li></li>
  	<li></li>
  	<li></li>
  	<li></li>
  	<li></li>
  	<li></li>
  	<li></li>
  	<li></li>
  	<li></li>
  </ul>
</div>
